on:
  push:
concurrency: build
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - name: Strip down build context
      run: rm -rf .git/ .github/
    - name: Build and push docker image
      env:
        PLATFORM: linux/386,linux/amd64,linux/arm/v5,linux/arm/v6,linux/arm/v7,linux/arm64/v8,linux/mips,linux/mips64,linux/ppc64,linux/ppc64le,linux/s390x,linux/riscv64,linux/loong64
        IMAGE_PATH: ${{ vars.IMAGE_PATH }}
        REGISTRY_USERNAME: ${{ vars.REGISTRY_USERNAME }}
        REGISTRY_PASSWORD: ${{ secrets.REGISTRY_PASSWORD }}
      run: |-
        docker buildx create --driver docker-container --use
        if [ "${GITHUB_REF}" = "refs/heads/master" ]; then
          docker login --username "${REGISTRY_USERNAME}" --password "${REGISTRY_PASSWORD}" "${IMAGE_PATH%%/*}"
          PUSH_ARGS=(--push)
        fi
        docker buildx build --platform "${PLATFORM}" --tag "$IMAGE_PATH:latest" "${PUSH_ARGS[@]}" .
